@keyframes fade-in-up {
    0% {
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.video {
    height: 300px;
}

.video iframe {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
}

.video.stuck {
    position: fixed;
    bottom: 5px;
    right: 20px;
    width: 450px;
    height: 250px !important;
    transform: translateY(100%);
    animation: fade-in-up 0.75s ease forwards;
    z-index: 1;
}

.video.no-stuck {
    position: unset !important;
    /* bottom: 5px;
    right: 20px;
    width: 450px;
    height: 250px !important;
    transform: translateY(100%);
    animation: fade-in-up 0.75s ease forwards;
    z-index: 1; */
}

.btn_close {
    width: 25px;
    display: none;
    cursor: pointer;
}